
:root {
    --base-color: 210, 60%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    text-align: center;
    color: white;
    background: hsl(var(--base-color), 60%);
    margin-bottom: 1rem;
    padding: 3rem;
}

h2 {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem
}

h3 {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem
}


footer {
    text-align: center;
    height: 50px;
    color: hsl(var(--base-color), 60%);
    background:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
